
// $white-bg: "../images/white-bg.png";
//color

$white: #ffffff;
$black: #000000;
$blue: #1577ff;
$black-light: #121212;
$dark-color: #212121;
$text-grey: #a9a9a9;
$text-color: #363636;
$dots-color: #E5E5E5;
$color-red: #be0c22;
$bg-ic-dropdown: #F3F2F2;
$bg-blue: #29166F;
$bg-body: #f3f4f8;
$bg-light-blue: #F2F4F8;
$bg-dark: #444444;
$bg-form-dark: #5e5e5e;
$red-light: #f8e6e8;
$color-title: #212529;

$grey-1: #f3f3f3;
$grey-2: #747474;
$grey-3: #b8b8b8;
$grey: #dadada;
$grey-light: #bbbbbb;
$grey-light2: #AAAAAA;
$grey-light3: #efefef;
$grey-light4: #dee2e6;
$blue-light: #f0f3f6;
$dark-grey: #707070;
$color-border: #e4e4e4;
$color-placeholder: #999999;

$row-color: #FAFAFA;
$row-head-color: #F5F6F8;
$archive-color: #DADADA;

$shadow-box: 0px 4px 15px rgba(0, 0, 0, 0.05);