.logo-wrapper {
	.logo {
		width: 100px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 30px;
	}
	.logo-name {
		font-size: 14px;
		font-weight: 600;
		display: inline-block;
		vertical-align: middle;
	}
}
.presentation-file {
	position: relative;
	padding-left: 60px;
	img {
		width: 40px;
		position: absolute;
		top: 0;
		left: 0;
	}
	p {
		font-weight: 600;
		color: $color-title !important;
		font-size: 14px;
		margin-bottom: 6px !important;
	}
	span {
		font-size: 14px;
		color: $grey-2;
	}
}
.video-file {
	position: relative;
	padding-left: 90px;
	img {
		width: 70px;
		position: absolute;
		top: 0;
		left: 0;
	}
	p {
		font-weight: 600;
		color: $black;
		color: $color-title !important;
		font-size: 14px;
		margin-bottom: 6px !important;
	}
	span {
		font-size: 14px;
		color: $grey-2;
		i {
			font-size: 14px;
			vertical-align: middle;
			line-height: 14px;
			margin-top: -2px;
			display: inline-block;
		}
	}
}
.presenter-name {
	position: relative;
	padding-left: 50px;
	.pict {
		width: 35px;
		height: 35px;
		border-radius: 200px;
		overflow: hidden;
		position: absolute;
		top: -10px;
		left: 0;
	}
	p {
		color: $grey-2;
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 0;
	}
}
.btn-action {
	display: inline-block;
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
	i {
		font-size: 18px;
		color: $grey-2;
	}
	&:hover {
		i {
			color: $primary;
		}
	}
}
.logo-preview {
	text-align: center;
	padding: 80px 0;
}

.upload-wrapper {
	width: 100%;
	padding: 50px 0;
	background-color: $bg-light-blue;
	border: 1px dashed $dark-grey;
	text-align: center;
	h3 {
		font-size: 18px;
		line-height: 18px;
		display: block;
		color: $grey-2;
		font-weight: 600;
		margin-bottom: 0;
	}
	span {
		display: block;
		font-size: 12px;
		color: $text-grey;
		margin-top: 10px;
	}
	.custom-file {
		margin-top: 10px;
		width: inherit;
		max-width: 200px;
		&:focus {
			outline: 0 none !important;
		}
		.custom-file-input {
			border: none;
			opacity: 0;
			&:focus {
				outline: 0 none !important;
				~ .custom-file-label {
					box-shadow: none;
				}
			}
		}
		.custom-file-label {
			max-width: 200px;
			font-size: 12px;
			border: none;
			background-color: transparent;
			margin-bottom: 0;
			padding: 0;
			&:focus {
				outline: 0 none !important;
			}
			&::after {
				width: 100%;
				max-width: 200px;
				border-radius: 3px;
				background-color: $primary;
				color: $white;
			}
		}
	}
}
.profile-wrapper {
	.bg-profile {
		width: 100%;
		height: 90px;
		background: rgb(21,224,255);
		background: -webkit-linear-gradient(10deg, rgba(21,224,255,1) 0%, rgba(37,75,183,1) 100%);
		background: -o-linear-gradient(10deg, rgba(21,224,255,1) 0%, rgba(37,75,183,1) 100%);
		background: linear-gradient(100deg, rgba(21,224,255,1) 0%, rgba(37,75,183,1) 100%);
	}
	.photo-wrapp {
		text-align: center;
		margin-top: -45px;
		margin-bottom: 10px;
		.pict {
			width: 100px;
			height: 100px;
			border-radius: 400px;
			border: 3px solid $white;
			margin: 0 auto 8px auto;
			overflow: hidden;
			background-color: $grey-2
		}
		span {
			color: $grey-2;
			font-size: 12px;
			text-transform: uppercase;
			display: inline-block;
		}
		p {
			font-weight: 500;
			margin-bottom: 0;
		}
	}
	.desc {
		padding: 15px;
		ul {
			list-style: none;
			padding-left: 0;
			margin: 0;
			li {
				display: inline-block;
				position: relative;
				padding-left: 48px;
				margin-right: 90px;
				margin-bottom: 30px;
				&:last-child {
					margin-right: 0;
				}
				.icon {
					width: 40px;
					height: 40px;
					position: absolute;
					top: 0;
					left: 0;
					text-align: center;
					background-color: $red-light;
					border-radius: 400px;
					i {
						font-size: 20px;
						line-height: 40px;
						color: $danger;
					}
				}
				span {
					color: $grey-2;
					font-size: 12px;
					text-transform: uppercase;
					display: inline-block;
					line-height: 12px;
				}
				p {
					font-weight: 500;
					line-height: 14px;
					margin-bottom: 0;
					span {
						color: $info;
						text-transform: inherit;
						font-size: 14px;
					}
				}
				.about-presenter {
					color: $grey-2;
					font-size: 14px;
					line-height: 16px;
				}
			}
		}
	}
}
.upload-progress {
	padding: 20px;
	border: 1px solid $border-color;
	&::after {
		content: "";
		display: block;
		clear: both;
	}
	.file-type {
		width: 50px;
		height: 50px;
		float: left;
		margin-right: 10px;
		span {
			display: block;
			width: 50px;
			height: 50px;
			background-color: $blue-light;
			text-align: center;
			i {
				font-size: 30px;
				line-height: 50px;
				color: $primary
			}
		}
	}
	.progress-wrapp {
		.file-name {
			margin-bottom: 2px;
		}
		.file-info {
			color: $grey-2;
			font-size: 12px;
			text-transform: uppercase;
			display: inline-block;
			line-height: 12px;
			font-style: italic;
			margin-top: 2px;
		}
	}
}