@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900&display=swap');
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 14;
// navbar
$navbar-padding-y: 12px;
$navbar-padding-x:	22px;
// buttons
$btn-padding-y: 12px;
$btn-padding-x: 22px;
$btn-border-radius: 3px;
$btn-font-weight: 600;
$border-radius: 3px;
//type
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 900;
$headings-line-height: 30px;
$headings-color: #000000;
// theme colors
$primary: #254bb7;
$yellow: #FFB743;
$success: #34DC8C;
$danger: #be0c22;
$info: #1577ff;
$custom-checkbox-indicator-indeterminate-bg: #254bb7 !important;
$theme-colors: (
  "dark": #212121,
  "light": #FFFFFF,
  "primary": #254bb7
);
// Option B: Include parts of Bootstrap

// Required
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

// Optional
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/print";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/dropdown";
@import "./node_modules/bootstrap/scss/transitions";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/navbar";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/jumbotron";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/custom-forms";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/modal";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/close";
@import "./node_modules/bootstrap/scss/tables";
@import "./node_modules/bootstrap/scss/media";
@import "./node_modules/bootstrap/scss/card";
@import "./node_modules/bootstrap/scss/badge";
@import "./node_modules/bootstrap/scss/nav";
@import "./node_modules/bootstrap/scss/progress";


// pages
@import "mymixin";
@import "myvariables";

// components
@import "global";
@import "components/header";
@import "components/mobile-menu";
@import "components/sidebar";
@import "components/button";
@import "components/badge";
@import "components/input";
@import "components/tab";
@import "components/table";
@import "components/modal";
@import "components/media";
@import "components/text";
@import "components/accordion";
@import "components/progress";
@import "components/mobile-menu";
@import "index";
@import "timeline";
