<nav class="navbar navbar-expand-lg fixed-top nav">
	<div class="container-fluid ">
	  <a class="navbar-brand" href="#banner"><img src="./dist/images/logo.png" alt="logo"></a>
	  <button class="navbar-toggler js-mobile-button" type="button">
	    <span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
	  </button>

	  <div class=" navbar-collapse mobile-menu js-mobile-menu" id="navbar-menu">
	    <ul class="navbar-nav mt-2 mt-lg-0 ml-auto nav">
	      <li class="nav-item">
	        <button class="btn btn-danger btn-sm">Back to AMP</button>
	      </li>
	      <li class="nav-item">
	        <a href="#" class="noty">
	        	<span class="count">1</span>
	        	<span class="material-icons">email</span>
	        </a>
	      </li>
	      <li class="nav-item">
	        <a href="#" class="noty">
	        	<span class="count">11</span>
	        	<span class="material-icons">notifications</span>
	        </a>
	      </li>
				<li class="nav-item">
	        <div class="user-account">
	        	<div class="pict-wrapp">
	        		<div class="pict">
	        			<img src="./dist/images/pict.jpg" alt="photo">
	        		</div>
	        	</div>
	        	<div class="desc">
	        		<h3>Dwi Jhon</h3>
	        		<p>ID Customer</p>
	        	</div>
	        </div>
	      </li>
	    </ul>
	  </div>
  </div>
</nav>