{% set page_id = "Home" %}
{% extends "layout.html" %}
{% block content %}
<div class="main dashboard">
	<nav>
	  <div class="nav nav-tabs" id="nav-tab" role="tablist">
	    <a class="nav-item nav-link active" id="nav-logos-tab" data-toggle="tab" href="#nav-logos" role="tab" aria-controls="nav-logos" aria-selected="true">Logos <span class="material-icons-outlined">format_shapes</span></a>
	    <a class="nav-item nav-link" id="nav-style-tab" data-toggle="tab" href="#nav-style" role="tab" aria-controls="nav-style" aria-selected="false">Style and Branding Guides <span class="material-icons-outlined">style</span></a>
	    <a class="nav-item nav-link" id="nav-presentation-tab" data-toggle="tab" href="#nav-presentation" role="tab" aria-controls="nav-presentation" aria-selected="false">Presentation <span class="material-icons-outlined">featured_play_list</span></a>
	    <a class="nav-item nav-link" id="nav-video-tab" data-toggle="tab" href="#nav-video" role="tab" aria-controls="nav-video" aria-selected="false">Video Asset <span class="material-icons-outlined">videocam</span></a>
	    <a class="nav-item nav-link" id="nav-photos-tab" data-toggle="tab" href="#nav-photos" role="tab" aria-controls="nav-photos" aria-selected="false">Presenter Photos <span class="material-icons-outlined">portrait</span></a>
	  </div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
	  <div class="tab-pane fade show active" id="nav-logos" role="tabpanel" aria-labelledby="nav-logos-tab">
	  	<div class="box-wrapper">
	  		<div class="head-box">
	  			<h2>Logo Asset</h2>
	  			<a href="#" class="btn btn-primary btn-sm icon" data-toggle="modal" data-target="#modalUpload"><span class="material-icons-outlined">add_circle_outline</span> Add Logo</a>
	  		</div>
	  		<table class="table">
				<thead>
					<tr>
						<th class="col-title">Title</th>
						<th class="col-action">Action</th>
					</tr>
				</thead>
			</table>
			<div class="scrollable" data-simplebar data-simplebar-auto-hide="false">
				<table class="table table-striped-even">
					<tbody>
						<tr>
							<td class="col-title">
								<div class="logo-wrapper">
									<div class="logo">
										<img src="./dist/images/logo2.png" alt="redback">
									</div>
									<div class="logo-name">
										Qantas-Logo_1.PNG
									</div>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalLogos"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="logo-wrapper">
									<div class="logo">
										<img src="./dist/images/logo-bayer.svg" alt="redback">
									</div>
									<div class="logo-name">
										Bater-Logo.PNG
									</div>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalLogos"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="logo-wrapper">
									<div class="logo">
										<img src="./dist/images/fairfax-media.jpg" alt="redback">
									</div>
									<div class="logo-name">
										Fairfax Media.PNG
									</div>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalLogos"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	  	</div>
	  </div>
	  <div class="tab-pane fade" id="nav-style" role="tabpanel" aria-labelledby="nav-style-tab">
	  	<div class="box-wrapper">
	  		<div class="head-box">
	  			<h2>Style and Branding Guide Asset</h2>
	  			<a href="#" class="btn btn-primary btn-sm icon" data-toggle="modal" data-target="#modalUploadPdf"><span class="material-icons-outlined">add_circle_outline</span> Add Style Guide</a>
	  		</div>
	  		<table class="table">
				<thead>
					<tr>
						<th class="col-title">Title</th>
						<th class="col-action">Action</th>
					</tr>
				</thead>
			</table>
			<div  class="scrollable" data-simplebar data-simplebar-auto-hide="false">
				<table class="table table-striped-even">
					<tbody>
						<tr>
							<td class="col-title">
								<div class="presentation-file">
									<img src="./dist/images/pdf.svg" alt="pdf">
									<p>Company Style Guide.pdf</p>
									<span>24 Page</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalPreview"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="presentation-file">
									<img src="./dist/images/pdf.svg" alt="pdf">
									<p>Company Style Guide2.pdf</p>
									<span>24 Page</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalPreview"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
	  	</div>
	  </div>
	  <div class="tab-pane fade" id="nav-presentation" role="tabpanel" aria-labelledby="nav-presentation-tab">
	  	<div class="box-wrapper">
	  		<div class="head-box">
	  			<h2>Presentation Asset</h2>
	  			<a href="#" class="btn btn-primary btn-sm icon" data-toggle="modal" data-target="#modalUploadPdf"><span class="material-icons-outlined">add_circle_outline</span> Add Presentation</a>
	  		</div>
	  		<table class="table">
				<thead>
					<tr>
						<th class="col-title">Title</th>
						<th class="col-action">Action</th>
					</tr>
				</thead>
			</table>
			<div class="scrollable" data-simplebar data-simplebar-auto-hide="false">
				<table class="table table-striped-even">
					<tbody>
						<tr>
							<td class="col-title">
								<div class="presentation-file">
									<img src="./dist/images/ppt.svg" alt="pdf">
									<p>How To Make First Sales With Telemarketing.pptx</p>
									<span>24 Page</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalPreview"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="presentation-file">
									<img src="./dist/images/pdf.svg" alt="pdf">
									<p>Freelancer Masterclass Benefits. Make money freelancing | How to make money as a freelancer.pdf</p>
									<span>24 Page</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalPreview"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="presentation-file">
									<img src="./dist/images/pdf.svg" alt="pdf">
									<p>My New Favorite Way to Find Clients in 2020 and Beyond.pdf</p>
									<span>24 Page</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalPreview"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="presentation-file">
									<img src="./dist/images/ppt.svg" alt="pdf">
									<p>What would you do? How honest are you with your clients.pptx</p>
									<span>24 Page</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalPreview"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="presentation-file">
									<img src="./dist/images/ppt.svg" alt="pdf">
									<p>How To Make First Sales With Telemarketing.pptx</p>
									<span>24 Page</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalPreview"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="presentation-file">
									<img src="./dist/images/ppt.svg" alt="pdf">
									<p>What Three Thing Do You NEED To Avoid During a Negotiation.pptx</p>
									<span>24 Page</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalPreview"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
	  	</div>
	  </div>
	  <div class="tab-pane fade" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
	  	<div class="box-wrapper">
	  		<div class="head-box">
	  			<h2>Video Asset</h2>
	  			<a href="#" class="btn btn-primary btn-sm icon" data-toggle="modal" data-target="#modalUploadVideo"><span class="material-icons-outlined">add_circle_outline</span> Add video</a>
	  		</div>
	  		<table class="table">
				<thead>
					<tr>
						<th class="col-title">Title</th>
						<th class="col-action">Action</th>
					</tr>
				</thead>
			</table>
			<div class="scrollable" data-simplebar data-simplebar-auto-hide="false">
				<table class="table table-striped-even">
					<tbody>
						<tr>
							<td class="col-title">
								<div class="video-file">
									<img src="./dist/images/video-thumb.png" alt="video">
									<p>How To Make First Sales With Telemarketing.MP4</p>
									<span><i class="material-icons-outlined">access_time</i> 03:06</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalVideo"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="video-file">
									<img src="./dist/images/video-thumb2.png" alt="video">
									<p>Stock Exchange Biginer tutorial.MP4</p>
									<span><i class="material-icons-outlined">access_time</i> 03:06</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalVideo"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="video-file">
									<img src="./dist/images/video-thumb3.png" alt="video">
									<p>Benefit Of Our Marketing.MP4</p>
									<span><i class="material-icons-outlined">access_time</i> 03:06</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalVideo"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="video-file">
									<img src="./dist/images/video-thumb4.png" alt="video">
									<p>Three Things ou Must Do Every Time You're Assigned Freelance Work.MP4</p>
									<span><i class="material-icons-outlined">access_time</i> 03:06</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalVideo"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="video-file">
									<img src="./dist/images/video-thumb5.png" alt="video">
									<p>Top 7 Upwork Mistake Freelancers Make.MP4</p>
									<span><i class="material-icons-outlined">access_time</i> 03:06</span>
								</div>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalVideo"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action"><i class="material-icons">get_app</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	  	</div>
	  </div>
	  <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
	  	<div class="box-wrapper">
	  		<div class="head-box">
	  			<h2>Presenter Photo</h2>
	  			<a href="#" class="btn btn-primary btn-sm icon" data-toggle="modal" data-target="#modalAdd"><span class="material-icons-outlined">add_circle_outline</span> Add Presenter</a>
	  		</div>
	  		<table class="table tbl-presenter">
				<thead>
					<tr>
						<th class="col-title">Name</th>
						<th class="col-title">Title</th>
						<th class="col-title">Email</th>
						<th class="col-title">Phone</th>
						<th class="col-action">Action</th>
					</tr>
				</thead>
			</table>
			<div class="scrollable" data-simplebar data-simplebar-auto-hide="false">
				<table class="table table-striped-even tbl-presenter">
					<tbody>
						<tr>
							<td class="col-title">
								<div class="presenter-name">
									<div class="pict">
										<img src="./dist/images/pict.jpg" alt="presenter">
									</div>
									<p>Sarah Smith</p>
								</div>
							</td>
							<td>
								<p>Work Hard Mental Awareness</p>
							</td>
							<td>
								<a href="#">sara.Gonzales@rdbk.com.au</a>
							</td>
							<td>
								<p>02 8014 1234</p>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalProfile"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalAdd"><i class="material-icons-outlined">edit</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="presenter-name">
									<div class="pict">
										<img src="./dist/images/pict2.jpg" alt="presenter">
									</div>
									<p>Topo Wick</p>
								</div>
							</td>
							<td>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
							</td>
							<td>
								<a href="#">sara.Gonzales@rdbk.com.au</a>
							</td>
							<td>
								<p>02 8014 1234</p>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalProfile"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalAdd"><i class="material-icons-outlined">edit</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								<div class="presenter-name">
									<div class="pict">
										<img src="./dist/images/pict3.jpg" alt="presenter">
									</div>
									<p>Jhon Smith</p>
								</div>
							</td>
							<td>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
							</td>
							<td>
								<a href="#">sara.Gonzales@rdbk.com.au</a>
							</td>
							<td>
								<p>02 8014 1234</p>
							</td>
							<td class="col-action">
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalProfile"><i class="material-icons">visibility</i></a>
								<a href="#" class="btn-action" data-toggle="modal" data-target="#modalAdd"><i class="material-icons-outlined">edit</i></a>
								<a href="#" class="btn-action remove"><i class="material-icons">delete_forever</i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	  	</div>
	  </div>
	</div>
</div>

<!-- Modal Preview pdf -->
<div class="modal modal-upload fade pdf-preview" id="modalPreview" tabindex="-1" role="dialog" aria-labelledby="modalPreviewLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="preview-nav">
        	<span>Page:</span>
        	<input type="text" class="form-control" name="page number" id="pageNumber" value="1">
        	<span>of 14</span>
        	<button type="button" class="prev"><i class="material-icons">arrow_back</i></button>
        	<button type="button" class="next"><i class="material-icons">arrow_forward</i></button>
        </div>
        <div class="preview-nav zoom">
        	<button type="button" class="prev"><i class="material-icons">remove</i></button>
        	<button type="button" class="next"><i class="material-icons">add</i></button>
        	<span>Zoom</span>
        </div>
        <button type="button" class="download"><i class="material-icons">get_app</i></button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="pdf-page">
        	<img src="./dist/images/preview.png" alt="" style="width: 100%;">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add new presenter -->
<div class="modal modal-add fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAddLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Presenter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
      	<form>
  		  <div class="form-group">
		    <label for="ControlFile">Profile Image</label>
		    <div class="pict">
				<img src="./dist/images/pict.jpg" alt="presenter">
			</div>
			<div class="custom-file file-photo">
			  <input type="file" class="custom-file-input" id="customFile">
			  <label class="custom-file-label" for="customFile" data-browse="Choose File"></label>
			</div>
		  </div>
      	  <div class="form-group">
		    <label>Title</label>
		    <input type="text" class="form-control" id="InputTitle" placeholder="Webinar Title">
		  </div>
		  <div class="form-group">
		    <label>Name</label>
		    <input type="text" class="form-control" id="InputName" placeholder="Name">
		  </div>
		  <div class="form-group">
		    <label>Email</label>
		    <input type="text" class="form-control" id="InputEmail" placeholder="Your Email">
		  </div>
		  <div class="form-group">
		    <label>Phone Number</label>
		    <input type="text" class="form-control" id="InputPhone" placeholder="Your Phone Number">
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm">Save</button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Preview Logo -->
<div class="modal modal-logos fade" id="modalLogos" tabindex="-1" role="dialog" aria-labelledby="modalLogosLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Top 7 Upwork Mistake Freelancer Make</h5>
        <button type="button" class="download"><i class="material-icons">get_app</i></button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="logo-preview">
        	<img src="./dist/images/logo2.png" alt="redback">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Preview Video -->
<div class="modal modal-Video fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="modalVideoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Top 7 Upwork Mistake Freelancer Make.MP4</h5>
        <button type="button" class="download"><i class="material-icons">get_app</i></button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="video-preview">
        	<div class="embed-responsive embed-responsive-16by9">
			  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
			</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Profile presenter -->
<div class="modal modal-profile fade" id="modalProfile" tabindex="-1" role="dialog" aria-labelledby="modalProfileLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Presenter For "Work Heart Mental Awarenes"</h5>
        <button type="button" class="edit" data-dismiss="modal" data-toggle="modal" data-target="#modalAdd"><i class="material-icons-outlined">edit</i></button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="profile-wrapper">
      		<div class="bg-profile"></div>
      		<div class="photo-wrapp">
      			<div class="pict">
					<img src="./dist/images/pict.jpg" alt="presenter">
				</div>
				<span>Name</span>
				<p>Sara Gonzalez</p>
      		</div>
      		<div class="desc">
      			<ul>
      				<li>
      					<span class="icon"><i class="material-icons-outlined">email</i></span>
      					<span>Email</span>
						<p>sara.Gonzalez<span>@rdbk.com.au</span></p>
      				</li>
      				<li>
      					<span class="icon"><i class="material-icons">phone</i></span>
      					<span>Email</span>
						<p>0280145153</p>
      				</li>
      				<li>
      					<span class="icon"><i class="material-icons">phone</i></span>
      					<span>About Presenter</span>
						<div class="about-presenter">
							It is a long estabilished fact that e reader will be destracted by the readable content off a page when looking at its layout. The point of using Lorem Ipsume is that is had a more-or-less
						</div>
      				</li>
      			</ul>
      		</div>
      	</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Upload Video -->
<div class="modal modal-upload-video fade" id="modalUploadVideo" tabindex="-1" role="dialog" aria-labelledby="modalUploadVideoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="upload-wrapper">
        	<h3>Drag File Here</h3>
        	<span>or</span>
        	<a href="#" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#modalUploadVideoProgress">Select a file from your computer</a>
        	<!-- <div class="custom-file">
			  <input type="file" class="custom-file-input" id="customFileLangHTML">
			  <label class="custom-file-label" for="customFileLangHTML" data-browse="Select a file from your computer"></label>
			</div> -->
        	<span>(Max 100 MB)</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Upload Video Progress-->
<div class="modal modal-upload-video-progress fade" id="modalUploadVideoProgress" tabindex="-1" role="dialog" aria-labelledby="modalUploadVideoProgressLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="upload-progress">
			<div class="file-type">
				<span><i class="material-icons-outlined">videocam</i></span>
			</div>
			<div class="progress-wrapp">
				<label class="file-name">How Fb Ads Help local business</label>
				<div class="progress" style="height: 3px;">
					<div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<span class="file-info">120 KB of 600 KB (56% done)</span>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Upload Logo -->
<div class="modal modal-upload fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="modalUploadLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="upload-wrapper">
        	<h3>Drag File Here</h3>
        	<span>or</span>
        	<a href="#" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#modalUploadLogoProgress">Select a file from your computer</a>
        	<!-- <div class="custom-file">
			  <input type="file" class="custom-file-input" id="customFileLangHTML">
			  <label class="custom-file-label" for="customFileLangHTML" data-browse="Select a file from your computer"></label>
			</div> -->
        	<span>(Max 100 MB)</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Upload Logo Progress -->
<div class="modal modal-upload-logo-progress fade" id="modalUploadLogoProgress" tabindex="-1" role="dialog" aria-labelledby="modalUploadLogoProgressLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="upload-progress">
			<div class="file-type">
				<span><i class="material-icons-outlined">panorama</i></span>
			</div>
			<div class="progress-wrapp">
				<label class="file-name">How Fb Ads Help local business to grow up</label>
				<div class="progress" style="height: 3px;">
					<div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<span class="file-info">120 KB of 600 KB (56% done)</span>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Upload PDF Progress -->
<div class="modal modal-upload-pdf-progress fade" id="modalUploadPdfProgress" tabindex="-1" role="dialog" aria-labelledby="modalUploadPdfProgressLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="upload-progress">
			<div class="file-type">
				<img src="./dist/images/pdf.svg" alt="file type">
			</div>
			<div class="progress-wrapp">
				<label class="file-name">How Fb Ads Help local business</label>
				<div class="progress" style="height: 3px;">
					<div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<span class="file-info">120 KB of 600 KB (56% done)</span>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Upload PDF -->
<div class="modal modal-upload-pdf fade" id="modalUploadPdf" tabindex="-1" role="dialog" aria-labelledby="modalUploadPdfLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="upload-wrapper">
        	<h3>Drag File Here</h3>
        	<span>or</span>
        	<a href="#" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#modalUploadPdfProgress">Select a file from your computer</a>
        	<!-- <div class="custom-file">
			  <input type="file" class="custom-file-input" id="customFileLangHTML">
			  <label class="custom-file-label" for="customFileLangHTML" data-browse="Select a file from your computer"></label>
			</div> -->
        	<span>(Max 100 MB)</span>
        </div>
    </div>
  </div>
</div>



{% endblock %}
{% block script %}
{% endblock %}