<div class="side-menu" data-simplebar data-simplebar-auto-hide="false">
	<ul>
		<li class="active"><a href="index.html"><span class="material-icons-outlined">dashboard</span> Dashboard</a></li>
		<li><a href=""><span class="material-icons-outlined">event</span> Event Overview</a></li>
		<li><a href=""><span class="material-icons-outlined">campaign</span> Campaign Manager</a></li>
		<li><a href=""><span class="material-icons-outlined">web</span> Digital Asset Manager (DAM)</a></li>
		<li><a href="timeline.html"><span class="material-icons-outlined">timeline</span> Timeline</a></li>
		<li><a href="digital-event.html"><span class="material-icons-outlined">today</span> Digital Event</a></li>
	</ul>
</div>