{% set page_id = "Timeline" %}
{% extends "layout.html" %}
{% block content %}
<div class="main timeline-wrapper">
	<div class="box-outer scrollable" data-simplebar data-simplebar-auto-hide="false">
		<div class="row">
			<div class="col-md-4">
				<div class="out-wrapper">
					<div class="title">
						<h2>Overview</h2>
						<span class="material-icons">reorder</span>
					</div>
					<div class="box-wrapper">
						<div class="overview">
							<h3>Organisation Name</h3>
							<ul>
								<li>
									<span>Event Type:</span> Conference
								</li>
								<li>
									<span>Event Title:</span> Digital Marketing
								</li>
								<li>
									<span>Event Date:</span> January 24 2019
								</li>
								<li>
									<span>Event Time:</span> 03:00PM - 05:00PM
								</li>
								<li>
									<span>Event ID:</span> #021102
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="out-wrapper">
					<div class="title">
						<h2>Progress</h2>
						<span class="material-icons">trending_up</span>
					</div>
					<div class="box-wrapper">
						<div class="progress-wrapper">
							<span class="Value">32</span>
							<p>Registrants</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="out-wrapper">
					<div class="title">
						<h2>Milestone</h2>
						<span class="material-icons">timeline</span>
					</div>
					<div class="box-wrapper">
						<div class="milestone">
							<div class="title-box">
								<h2 class="text-primary">Customer</h2>
								<h2 class="text-danger ml-auto">Redback</h2>
							</div>
							<ul class="timeline">
								<li>
									<div class="box-left active">
										<span>Booking Form Completed</span>
										<div class="number-line">1</div>
									</div>
								</li>
								<li>
									<div class="box-right active">
										<div class="number-line">2</div>
										<span>Webinar Booked</span>
									</div>
								</li>
								<li>
									<div class="box-left active">
										<span>Pre-Production Call Completed</span>
										<div class="number-line">3</div>
									</div>
								</li>
								<li>
									<div class="box-right active">
										<div class="number-line">4</div>
										<span>Marketing Collateral Created</span>
									</div>
								</li>
								<li>
									<div class="box-right">
										<span>Update Assets Based on Changes and Schedule eDMs</span>
										<div class="number-line">5</div>
									</div>
								</li>
								<li>
									<div class="box-right">
										<div class="number-line">6</div>
										<span>Customer Venue Tested &amp; Requirenment Confirmed (Customer Venue Only)</span>
									</div>
								</li>
								<li>
									<div class="box-right">
										<div class="number-line">7</div>
										<span>Presenter Brefing Completed</span>
									</div>
								</li>
								<li>
									<div class="box-left">
										<span>Pre-Webinar Call Completed</span>
										<div class="number-line">8</div>
									</div>
								</li>
								<li>
									<div class="box-left">
										<span>All Webinar Deliverables Loaded</span>
										<div class="number-line">9</div>
									</div>
								</li>
								<li>
									<div class="box-right">
										<div class="number-line">10</div>
										<span>Webinar Delivered</span>
									</div>
								</li>
								<li>
									<div class="box-right">
										<div class="number-line">11</div>
										<span>Production Completed</span>
									</div>
								</li>
								<li>
									<div class="box-left">
										<span>Debrief Held</span>
										<div class="number-line">12</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block script %}
{% endblock %}