.accordion {
	.card {
		border-radius: 0;
		border: none;
		.card-header {
			background-color: transparent;
			padding: 0;
			border-radius: 0;
			border-bottom: none;
			h2 {
				line-height: 24px;
				.btn {
					width: 100%;
					text-align: left;
					border-radius: 0;
					border-bottom: 1px solid $grey-1;
					margin-bottom: 1px;
					padding: 10px 0;
					&:focus {
						outline: none;
						box-shadow: none;
					}
					i {
						position: absolute;
						top: 50%;
						right: 10px;
						@include translateY(-50%);
						font-size: 20px;
						color: $grey-1;
					}
				}
			}
		}
	}
}