.btn {
	font-weight: 400;
	border-radius: 3px !important;
	&.icon {
		> span {
			font-size: 20px;
			vertical-align: middle;
			margin-left: -12px;
			margin-right: 8px;
		}
	}
	&.min-180 {
		min-width: 150px;
	}
	&.rounded {
		border-radius: 300px !important;
	}
	&.sharp {
		border-radius: 0;
	}
	&.btn-md {
		font-size: 14px;
		padding: 6px 24px;
	}
	&.btn-lg {
		padding: 8px 30px;
		border-radius: 10px;
		font-size: 18px;
		font-weight: 600;
		@media(max-width: 480px) {
			font-size: 14px;
		}
	}
	&.btn-sm {
		padding: 4px 18px;
		border-radius: 10px;
	}
	&.btn-default {
		color: $bg-blue;
		border: 1px solid $white;
		background-color: $white;
		&:hover {
			background-color: $text-grey;
			border-color: $text-grey;

		}
	}
	&.btn-success {
		color: $white;
	}
	&.btn-warning {
		color: $white;
	}
	&.disabled {
		background-color: $row-head-color;
	}
}

.btn-dropdown {
	&.btn-block {
		width: 100%;
		.btn-default {
			width: 100%;
		}
	}
	.btn-default {
		padding: 10px;
		min-width: 100px;
		text-align: left;
		position: relative;
		&:after {
			content: "\e313";
			position: absolute;
			top: 50%;
			right: 14px;
			@include translateY(-50%);
			z-index: 2;
			display: inline-block;
		    font-family: 'Material Icons';
		    font-size: 24px;
		    font-style: normal;
		    font-weight: normal;
		    letter-spacing: normal;
		    line-height: 1;
		    text-transform: none;
		    white-space: nowrap;
		    word-wrap: normal;
		    -webkit-font-feature-settings: 'liga';
		    -webkit-font-smoothing: antialiased;
		    border: none;
		}
		&:before {
			content: "";
			width: 32px;
			height: 32px;
			border-radius: 200px;
			background-color: $bg-ic-dropdown;
			position: absolute;
			top: 50%;
			right: 10px;
			@include translateY(-50%);
			z-index: 1;
		}
	}
	.dropdown-menu {
		min-width: 126px;
		text-align: center;
		border: none;
		padding: 0;
		margin-left: -6px;
		margin-top: 10px;
		left: inherit !important;
		right: -35px;
		.dropdown-item {
			border-bottom: 1px solid $grey-1;
			padding: 15px 10px 15px 10px;
			font-size: 14px;
			position: relative;
			z-index: 2;
			background-color: $white;
			&:first-child {
				border-radius: 10px 10px 0 0;
			}
			&:last-child {
				border-bottom: none;
				border-radius: 10px;
			}
		}
		&.show {
			&:before {
				content: "";
				width: 24px;
				height: 24px;
				border-radius: 4px;
	
				@include rotate(45deg);
				position: absolute;
				top: -6px;
				left: 50%;
				margin-left: -12px;
				background-color: $white;
				z-index: 1;
			}
		}
	}
}
.custom-file {
	&.upload-file {
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		border: 1px dashed $primary;
		display: inline-block;
		padding: 15px 36px;
		cursor: pointer;
		width: inherit;
		height: inherit;
		.custom-file-label {
			color: $primary;
			margin-bottom: 0;
			font-weight: 400;
			font-size: 16px;
			position: relative;
			z-index: inherit;
			top: inherit;
			left: inherit;
			right: inherit;
			padding: 0;
			height: inherit;
			background-color: transparent;
			width: inherit;
			border: none;
			&:after {
				display: none;
			}
		}
		.custom-file-input {
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
		}
	}
}
.dropdown {
	&.action {
		float: right;
		margin-top: 8px;
		a {
			padding: 10px 0;
			&:hover {
				text-decoration: none;
			}
			&:after {
				display: none;
			}
			span {
				width: 10px;
				height: 10px;
				display: inline-block;
				border: 2px solid $text-grey;
				border-radius: 100px;
			}
			i {
				color: $archive-color;
				
			}
			&:hover {
				i {
					color: $primary;
				}
			}
		}
		.dropdown-menu {

			padding: 0 8px;
			border: none;
			.dropdown-item {
				text-align: center;
				color: $black-light;
				font-weight: 500;
				background-color: $white;
				position: relative;
				z-index: 2;
				padding: 10px 8px;
				border-bottom: 1px solid $grey-1;
				&:last-child {
					border-bottom: none;
				}
				i {
					vertical-align: middle;
					color: $black-light;
				}
			}
			&.show {
				&:before {
					content: "";
					width: 24px;
					height: 24px;
					border-radius: 4px;
		
					@include rotate(45deg);
					position: absolute;
					top: -6px;
					left: 73%;
					margin-left: -12px;
					background-color: $white;
					z-index: 1;
				}
			}
			&.bottom {
				&.show {
					&:before {
						top: unset;
						left: 73%;
						bottom: -6px;
					}
				}
			}
			
		}
		&.upload {
			.dropdown-menu {
				&.show {
					&:before {
						left: 65% !important;
					}
				}
			}
		}
	}

}