.navbar {
	left: 0;
	@include transition(linear all 400ms);
	background-color: $white;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(230,230,230,1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(230,230,230,1);
	box-shadow: 0px 3px 3px 0px rgba(230,230,230,1);
	&.fixed-top {
		position: fixed;
	}
	.navbar-brand {
		width: 100%;
		max-width: 429px;
		margin-right: 0;
		margin-left: 0;
		@media (max-width: 767px) {
			max-width: 190px;
		}
		img {
			max-width: 100%;
		}
	}
	.navbar-nav {
		align-items: center;
		li {
			margin-right: 8px;
			vertical-align: middle;
			display: inline-block;
			&:first-child {
				margin-right: 20px;
			}
			&:last-child {
				margin-right: 0;
			}
			a {
				color: $text-grey;
				position: relative;
				padding: 0 !important;
				font-weight: 500;
				line-height: 18px;
				font-size: 18px;
				display: block;
				span {
					display: inline-block;
					margin-top: 2px;
				}
				&:hover, &:focus {
					text-decoration: none;
				}
				&.noty {
					.count {
						display: inline-block;
						width: 12px;
						height: 12px;
						border-radius: 100px;
						color: $white;
						text-align: center;
						position: absolute;
						top: -2px;
						right: 0;
						font-size: 8px;
						background-color: red;
						font-weight: 700;
						line-height: 13px;
					}
				}
			}
			.user-account {
				&::after {
					content: "";
					display: block;
					clear: both;
				}
				.pict-wrapp {
					width: 40px;
					height: 40px;
					border: 1px solid $primary;
					border-radius: 400px;
					float: left;
					.pict {
						width: 34px;
						height: 34px;
						border-radius: 400px;
						overflow: hidden;
						margin: 2px auto 0 auto;
					}
				}
				.desc {
					overflow: hidden;
					padding-top: 6px;
					padding-left: 6px;
					h3 {
						font-size: 14px;
						line-height: 12px;
						margin: 0 0 4px 0;
					}
					p {
						font-size: 9px;
						line-height: 12px;
						margin: 0;
						color: $grey-2;
					}
				}
			}
			&.nav-item-mobile {
				display: none;
				&.bd-t {
					border-top: 1px solid $grey-light;
				}
				i {
					vertical-align: middle;
				}
				@media(max-width: 1024px) {
					display: block;
				}
			}
		}
	}
	.container {
		@media(max-width: 1024px) {
			max-width: inherit;
		}
	}
}