.modal {
	.modal-dialog {
		&.modal-md {
			@media (min-width: 992px) {
				max-width: 620px;
			}
		}
		.modal-content {
			border-radius: 0;
			.modal-header {
				border-bottom: 1px solid $grey;
				h5 {
					font-size: 12px;
					color: $grey-2;
					font-weight: 500;
				}
				.close {
					padding: 0;
					width: 30px;
					height: 30px;
					position: absolute;
					top: 26px;
					right: 25px;
					display: inline-block;
					float: none;
					opacity: 1;
					&:focus {
						outline: 0 none !important;
					}
					span {
						font-size: 18px;
						line-height: 24px;
					}
				}
				.download {
					padding: 0;
					width: 30px;
					height: 30px;
					position: absolute;
					top: 12px;
					right: 39px;
					display: inline-block;
					border: none;
					background-color: transparent;
					color: $text-grey;
					&:focus {
						outline: 0 none !important;
					}
					i {
						font-size: 18px;
						line-height: 24px;
					}
				}
			}
			.modal-body {
				padding: 30px 30px;
			}
			.modal-footer {
				border-top: none;
				padding: 0 30px 30px 30px;
				.btn {
					margin: 0 0 0 10px !important;
				}
			}
		}
	}
	&.pdf-preview {
		.modal-dialog {
			.modal-content {
				background-color: $bg-dark;
				.modal-header {
					background-color: $bg-dark;
					border-radius: 0;
					padding-top: 5px;
					padding-bottom: 5px;
					.preview-nav {
						width: 28%;
						display: inline-block;
						span {
							font-size: 12px;
							display: inline-block;
							color: $grey-3;
							vertical-align: middle;
						}
						.form-control {
							width: 40px;
							height: 25px;
							background-color: $bg-form-dark;
							border-radius: 2px;
							color: $grey-3;
							border: none;
							text-align: center;
							display: inline-block;
							vertical-align: middle;
							margin-left: 5px;
							margin-right: 3px;
						}
						button {
							padding: 0;
							width: 18px;
							height: 18px;
							display: inline-block;
							border: none;
							background-color: transparent;
							color: $grey-3;
							vertical-align: middle;
							i {
								font-size: 18px;
							}
						}
						&.zoom {
							position: absolute;
							top: 15px;
							left: 50%;
							@include translateY(-50%);
						}
					}
					.close {
						color: $grey-3;
						top: 19px;
					}
					.download {
						color: $grey-3;
						top: 6px;
					}
				}
				.modal-body {
					padding: 0 70px;
				}
			}
		}
	}
	&.modal-add {
		.modal-dialog {
			&.modal-md {
				@media (min-width: 992px) {
					max-width: 520px;
				}
			}
			.modal-content {
				.modal-body {
					padding-bottom: 0;
				}
			}
		}
	}
	&.modal-profile {
		.modal-content {
			border-radius: 0;
			.modal-header {
				.close {
					color: $grey-2;
				}
				.edit {
					padding: 0;
					width: 30px;
					height: 30px;
					position: absolute;
					top: 12px;
					right: 39px;
					display: inline-block;
					border: none;
					background-color: transparent;
					color: $grey-2;
					&:focus {
						outline: 0 none !important;
					}
					i {
						font-size: 18px;
						line-height: 24px;
					}
				}
			}
			.modal-body {
				padding: 0;
			}
		}
	}
}