.side-menu {
	width: 250px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 86px;
	background-color: $white;
	-webkit-box-shadow: 3px 0px 3px 0px rgba(230,230,230,1);
	-moz-box-shadow: 3px 0px 3px 0px rgba(230,230,230,1);
	box-shadow: 3px 0px 3px 0px rgba(230,230,230,1);
	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
		li {
			border-bottom: 1px solid $grey-1;
			padding-left: 15px;
			a {
				display: block;
				padding: 10px 0 10px 30px;
				position: relative;
				color: $text-color;
				span {
					position: absolute;
					top: 8px;
					left: 0;
				}
				&:hover {
					color: $primary;
					text-decoration: none;
				}
			}
			&.active {
				a {
					color: $primary;
					font-weight: 600;
				}
			}
		}
	}
}