.table {
	margin-bottom: 0;
	thead {
		tr {
			th {
				border-top: none;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 12px;
				color: $grey-2;
				&.col-action {
					text-align: center;
					width: 17%;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				vertical-align: middle;
				padding: 30px 20px;
				&.col-action {
					text-align: center;
					width: 17%;
				}
				p {
					color: $grey-2;
					font-size: 14px;
					line-height: 14px;
					margin-bottom: 0;
				}
				a {
					color: $primary;
					font-size: 14px;
					line-height: 14px;
					margin-bottom: 0;
				}
			}
			&:first-child {
				td {
					border-top: none;
				}
			}
		}
	}
	&.table-striped-even {
		tbody  {
		    tr {
		    	&:nth-of-type(even) {
		    		background-color: rgba(0,0,0,0.05);
		    	}
		    }
		}
	}
	&.tbl-presenter {
		thead {
			tr {
				th {
					padding: 8px 10px;
					&:first-child {
						width: 20%;
					}
					&:nth-child(3) {
						width: 25%;
					}
					&:nth-child(4) {
						width: 13%;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					padding: 15px 10px;
					&:first-child {
						width: 20%;
					}
					&:nth-child(3) {
						width: 25%;
					}
					&:nth-child(4) {
						width: 13%;
					}
				}
			}
		}
	}
}